<style>
body {
position: relative;
padding-top: 40px;
background-color: white;
background-image: url('/assets/Sunset_Window.png');
background-repeat: repeat-x;
background-position: 0 40px;
background-size: 100%;
}
</style>

<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      	<section>
		        <%= render 'shared/user_info' %>
		      </section>
		      <section>
		        <%= render 'shared/stats' %>
		      </section>
		      <section>
		        <%= render 'shared/micropost_form' %>
		      </section>
    </aside>
    <div class="span8">
	      <h3>Micropost Feed</h3>
	      <%= render 'shared/feed' %>
	</div>
  </div>  
<% else %>
  <div class="hero-unit" style="background-color: transparent; padding-top: 0px;">
    
    <h1 style="color: white;">Share your </h1>
    <h1 style="color: #00FF00;">voice</h1>
	<h1 style="color:white;"<br> with the</h1>
	<h1 style="color: #00FF00;">	world.</h1>
	<br>
    <%= link_to "Sign up now!", signup_path, 
                                class: "btn btn-large btn-primary" %>
  </div>
<% end %> 
