<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      	<section>
		        <%= render 'shared/user_info' %>
		      </section>
		      <section>
		        <%= render 'shared/stats' %>
		      </section>
		      <section>
		        <%= render 'shared/micropost_form' %>
		      </section>
    </aside>
    <div class="span8">
	      <h3>Micropost Feed</h3>
	      <%= render 'shared/feed' %>
	</div>
  </div>  
<% else %>
<body id="home">
  <div class="hero-unit">
    
    <h1 style="color: white;">Share your </h1>
    <h1 style="color: #00FF00;">voice</h1>
	<h1 style="color:white;"<br> with the</h1>
	<h1 style="color: #00FF00;">	world.</h1>
	<br>
    <%= link_to "Sign up now!", signup_path, 
                                class: "btn btn-large btn-primary" %>
  </div>
</body>
<% end %> 
