<h1>Sounds#index</h1>
<p>Find me in app/views/sounds/index.html.erb</p>
<h2>Upload a new MP3:</h2>  
<%= form_tag upload_path, :method => "post", :multipart => true do %>  
    <%= file_field_tag "mp3file" %>  
    <%= submit_tag "Upload" %>  
<% end %>
<table>  
<% @sounds.each do |sound| %>
  <tr>
    <td><%= sound.key %></td>
    <td><%= link_to "Delete",  "sound/delete/?sound=" + sound.key, :confirm => 'Are you sure you want to delete ' + sound.key + '?' %></td>  
  </tr>
<% end %>  
</table>
